.marquee{display:flex;width:max-content;animation:scroll 10s linear infinite}.marquee-content{white-space:nowrap;padding:10px 0}@keyframes scroll{0%{transform:translate(0)}to{transform:translate(-50%)}}
